/* start custom scss snippet */


/*.................. 1.Single line Code Red Color ....................*/
  .article__content code {
	/*Single Code Haihlate */
    color: #e6217b;
    }
/*.................. 1.Single line Code Red Color ....................*/


/* --------- maximum 7 head items ------
.navigation {
    overflow: hidden;
    overflow-x: hidden;
}
*/


.article__content pre > code {
    color: #222222;
}
















/* end custom scss snippet */
